@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins";
  src: url("../../public/assets/fonts/Poppins/Poppins-Regular.ttf");
}
.poppins {
  font-family: "poppins";
}

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "poppins", "sans-serif", "Helvetica Neue", Helvetica, Arial;
  background-color: #080523;
}
/* .video-foreground iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.video-foreground iframe {
  pointer-events: none;
}

.video-foreground iframe {
  position: absolute;
  top: -60px;
  left: 0;
  width: 100%;
  height: calc(100% + 120px);
}
.video-foreground {
  pointer-events: none;
} */
